<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <title>Greetings</title>
    </head>
    <body>
        <h1>
            Meeting Room Apointments
        </h1>
        <p>
            This is a demo app
        </p>
        <h2>
            Meetings
        </h2>
        <ul>
            {% for meeting in meetings %}
            <li>
                <a href = " {% url 'detail' meeting.id %}">
                    {{ meeting.title }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </body>
</html>